<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styledn.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>

</head>

<body>
    <section>
        <form action="{{ url_for('login') }}" method="POST">
            <h1>Log in</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="username" required>
                <label for="">Tên đăng nhập</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" required>
                <label for="">Mật khẩu</label>
            </div>
            <div class="forget">
                <label for=""><input type="checkbox">Ghi nhớ</label>
                <a href="#">Quên mật khẩu</a>
            </div>
            <button type="submit">Đăng nhập</button>
            <div class="register">
                <p>Bạn chưa có tải khoản?<a href="{{ url_for('register') }}">Đăng ký</a></p>
            </div>
        </form>
    </section>
</body>
</html>
