<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách nhiệm vụ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styletem.css') }}">
</head>
<body>
    <section class="task-section">
        <div class="header">
            <h1>Nhiệm vụ của bạn</h1>
            <div class="header-buttons">
                <a href="{{ url_for('add_task') }}" class="btn btn-add-task">Thêm nhiệm vụ mới</a>
                <a href="{{ url_for('logout') }}" class="btn btn-logout">Đăng xuất</a>
            </div>
        </div>
        <table class="task-table">
            <thead>
                <tr>
                    <th>Tiêu đề nhiệm vụ</th>
                    <th>Mô tả</th>
                    <th>Hạn nhiệm vụ</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.due_date.strftime('%Y-%m-%d') if task.due_date else 'Trống' }}</td>
                        <td>{{ 'Hoàn thành' if task.is_completed else 'Chưa hoàn thành' }}</td>
                        <td>
                            <form action="{{ url_for('complete_task', task_id=task.id) }}" method="POST">
                                {% if not task.is_completed %}
                                    <button type="submit" class="btn btn-complete">Hoàn thành</button>
                                {% endif %}
                            </form>
                            <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST">
                                <button type="submit" class="btn btn-delete">Xóa</button>
                            </form>
                            <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn btn-edit">Sửa</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>
